body {
	margin: 0;
	background: url("pic/cp_1.jpg") no-repeat center;
	color: #FFF;
}
.wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
}
h1 {
	font-weight: 100;
	letter-spacing: 0.23em;
}
.e-mail {
	width: 200px;
	height: 36px;
	line-height: 36px;
}
.btn-save {
	border: 0;
	background-color: #fff;
	padding: 1em 2em;
}